*{
    padding: 0;
    margin: 0;
}

:root{
    --hover-bg: #f2f2f4;
}

.sidebar{
    height: 100vh;
    position: fixed;
}

.sidebar-links{
    border-radius: 25px;
    /* background: grey; */
    padding: 8px;
    transition: all .3s ease-in-out;
}
.sidebar-links:hover{
    background: var(--hover-bg);
}

.sidebar-profile{
    border-radius: 35px;
    padding: 8px;
    transition: all .3s ease-in-out;
}
.sidebar-profile:hover{
    background: var(--hover-bg);
}

.tweet{
    transition: all .3s ease-in-out;
}

.tweet:hover{
    background: var(--hover-bg);
}

.live-chat{
    background: #dddddd;
}
.live-chat hr{
    /* background: #000 ; */
}